<div class="card">
  <div class="card-body">
    <h5 class="card-title">Edição de aluno
    </h5>
    <form>
      <div class="mb-3">
        <label class="form-label">Nome do Aluno</label>
        <input type="text" class="form-control" [(ngModel)]="aluno.al_nome"  name="al_nome">
      </div>
      <div class="mb-3">
        <label class="form-label">Responsável do Aluno</label>
        <input type="text" class="form-control" [(ngModel)]="aluno.al_responsavel"  name="al_responsavel">
      </div>

      <div class="mb-3">
        <label class="form-label">Cidade do Aluno</label>
        <input type="text" class="form-control" [(ngModel)]="aluno.al_cidade" name="al_cidade">
      </div>

      <button routerLink="/turma" class="btn btn-secondary mx-3">Cancelar</button>
      <button (click)="editarAluno()" class="btn btn-success">Alterar</button>
    </form>
  </div>
</div>
