<div class="card container">
  <div class="card-body">
    <h5 class="card-title">Turmas</h5>
    <button routerLink="/cadastroTurma" class="btn btn-sm btn-secondary">Cadastrar</button>

    <!---------------------------- Barra de Rolagem ----------------------------->
    <div style="height: 300px; overflow: auto;">    <table class="table">

      <thead>
        <tr>
          <th scope="col">Código</th>
          <th scope="col">Nome da Turma</th>
          <th scope="col">Descrição</th>
          <th scope="col">Alunos</th>
          <th scope="col">Professores</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let turma of turmas">
          <th scope="row">{{turma.id_turma}}</th>
          <td>{{turma.tu_nome}}</td>
          <td>{{turma.tu_descricao}}</td>
          <td><i routerLink="/alunoTurma/{{turma.id_turma}}" class="fa-solid fa-user"  ></i></td>
          <td><i routerLink="/professorDaTurma/{{turma.id_turma}}" class="fa-solid fa-chalkboard-user"></i></td>
          <td><i routerLink="/edicaoTurma/{{turma.id_turma}}" class="fas fa-edit text-info" ></i>
          <i routerLink="/exclusaoTurma/{{turma.id_turma}}" class="fas fa-trash-alt text-danger mx-2" ></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
